.App {
  height: 100vh;
}

.Lists {
  display: flex;
}

.List {
  padding: 0.6rem;
  padding-left: 0;
  margin: 0rem;
  width: 180px;
  background-color: rgb(217, 238, 245);
}

.List:first-of-type {
  padding-left: 0.6rem;
}

.ListItem {
  padding: 0.8rem;
  margin-bottom: 0.4rem;
  border-radius: 0.3rem;
  transition: background-color 125ms ease-in-out;
  list-style: none;
  cursor: pointer;
  font-weight: bold;
}

.ListItem--active,
.ListItem:hover {
  background-color: lightblue;
}
